* {
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    text-align: center;
}

#input {
    border: black solid 1px;
    width: 200px;
    height: 200px;
}