body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    display: block;
}

#output {
    border: 1px solid black;
    width: 100px;
    text-align: center;
}